@font-face {
    font-family: "font1";
    src: url(../fonts/Inter/static/Inter-ExtraBold.ttf);
}
@font-face {
    font-family: "font2";
    src: url(../fonts/Merriweather/Merriweather-Light.ttf);
}
$color1: white;
$color2: rgba(223, 223, 223, 0.253);
$color3: black;
$font1: font1, sans-serif;
$font2: font2, sans-serif;






@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}