* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Montserrat Medium, sans-serif;
}
body {
  width: 100%;
}
nav {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  list-style: none;
  height: 100%;
}
nav ul li {
  font-family: Montserrat Medium, sans-serif;
  font-size: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
#language {
  background-color: rgb(224, 224, 224);
  border-radius: 10px;
  padding: 3px;
  width: 65px;
  height: 30px;
  text-align: center;
  font-size: 0.8rem;
}
nav ul li:hover {
  color: blueviolet;
  border-top: 4px solid blueviolet;
}
header {
  width: 100%;
  background: url(./assets/img/bg.jpg) center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo {
  margin-top: 60px;
  margin-bottom: 30px;
}
header h1 {
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 30px;
}
header button {
  background: none;
  color: rgba(255, 255, 255, 0.774);
  text-transform: uppercase;
  border: 1px solid white;
  width: 40%;
  padding: 10px 3px;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 50px;
}
.header-text {
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}
.header-text p {
  font-size: 1.15rem;
  text-align: center;
  width: 70%;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}
.icon-part {
  background-color: rgb(27, 27, 27);
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-part-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-top: 70px;
  margin-bottom: 70px;
}
.list-icon-part {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.lip-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}
.list-icon-part h3 {
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  padding-bottom: 10px;
}
.list-icon-part p {
  color: white;
  width: 58%;
  text-align: center;
  font-size: 0.7rem;
  padding-bottom: 25px;
}
.list-icon-part button {
  background: none;
  color: rgba(255, 255, 255, 0.774);
  text-transform: uppercase;
  border: 1px solid white;
  width: 40%;
  padding: 7px;
  font-size: 0.8rem;
}
/* news part */
.news-part {
  background-color: whitesmoke;
  padding: 80px 0 45px;
}
.header-news {
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 0 auto;
  max-width: 1000px;
}
.left-part {
  line-height: 30px;
}
.left-part h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  text-align: left;
}
.left-part p {
  font-weight: 600;
  font-size: 0.9rem;
  text-align: left;
}
.right-part button {
  color: black;
  border-color: black;
  letter-spacing: 1px;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: 0.2s;
}
.right-part button:hover {
  color: whitesmoke;
  background-color: black;
}
.main-news-container {
  display: flex;
  justify-content: space-around;
  max-width: 1100px;
  margin: 45px auto;
}
.main-news-container > div {
  position: relative;
  max-width: 23%;
}
.mn-pic img {
  object-fit: cover;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 2px 10px #888;
}
.main-news-container h4 {
  margin: 15px 0;
  text-align: left;
}
.main-news-container p {
  text-align: left;
  font-size: 0.8rem;
  line-height: 20px;
  margin-bottom: 45px;
}
.link {
  text-align: left;
  position: absolute;
  bottom: 0px;
}
.link a {
  text-decoration: none;
  color: blueviolet;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 1px;
  font-weight: 900;
}
/* ////////////contact/////////// */
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.contact-list {
  display: flex;
  align-items: flex-start;
  gap: 100px;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}
.list {
  display: flex;
  justify-content: center;

  flex-direction: column;
  width: 200px;
}
.list h5 {
  text-transform: uppercase;
  font-size: 0.95rem;
}
#h51 {
  margin-bottom: 15px;
}
#h52 {
  margin-bottom: 15px;
}
#h53 {
  margin-bottom: 15px;
}
.network {
  margin-top: 15px;
}
.footer-logos i {
  margin-bottom: 15px;
  margin-right: 8px;
  font-size: 0.8rem;
}
.infos-p li {
  list-style: none;
  margin-bottom: 10px;
}
.infos-p li a {
  color: blueviolet;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8rem;
}
.list p {
  font-weight: bold;
  font-size: 0.8rem;
}
.list a {
  color: blueviolet;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8rem;
  margin-top: 20px;
}
.list h6 {
  font-weight: bold;
  padding-bottom: 5px;
}
.copyright {
  font-size: 0.2rem;
}
#contact-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* contact media */

.bigcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.contact-medias {
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 30% 70%;
  width: 70%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
.medias-text h3 {
  text-transform: uppercase;
  font-size: 0.9rem;
}
.medias-text p {
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 10px;
}
.medias-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.img img {
  width: 50px;
}
footer {
  background-color: rgb(27, 27, 27);
  color: white;
  text-transform: uppercase;
  width: 100%;
}
footer h3 {
  text-align: center;
  font-weight: 100;
  padding: 15px;
  font-size: 1rem;
}
footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 20px;
}
footer ul li img {
  width: 70px;
  height: auto;
}
.trait {
  margin: 0 auto;

  width: 60%;
  height: 0.1px;
  background-color: grey;
}
@media screen and (max-width: 822px) {
  nav {
    display: none;
  }
  #logo img {
    width: 350px;
  }
  header h1 {
    font-size: 1.8rem;
    width: 70%;
    text-align: center;
  }
  header button {
    width: 50%;
    padding: 10px 10px;
    font-size: 1.2rem;
    font-weight: 700;
  }
  .header-text p {
    font-size: 1.5rem;
    text-align: center;
    width: 95%;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .header-text {
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon-part-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin-top: 70px;
    margin-bottom: 70px;
    gap: 50px;
  }
  .list-icon-part p {
    color: white;
    width: 90%;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 25px;
  }
  .header-news {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    gap: 10px;
  }
  .left-part h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    text-align: center;
    font-size: 2rem;
  }
  .left-part p {
    font-weight: 600;
    font-size: 0.9rem;
    text-align: left;
  }
  .main-news-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
  }
  .main-news-container div {
    position: relative;
    max-width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .main-news-container h4 {
    text-align: center;
    font-size: 1.3rem;
  }
  .main-news-container p {
    text-align: center;
    font-size: 1rem;
  }

  .link a {
    font-size: 0.9rem;
  }
  .contact-container {
    display: none;
  }
  .bigcontainer {
    display: none;
  }
  .contact-medias {
    display: none;
  }
  footer {
    background-color: rgb(27, 27, 27);
    color: white;
    text-transform: uppercase;
    width: 100%;
  }
  footer h3 {
    text-align: center;
    font-weight: 100;
    padding: 15px;
    font-size: 1.5rem;
  }
  footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    gap: 20px;
  }
  footer ul li img {
    width: 50px;
    height: auto;
  }
}
