* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;
  height: 700px;
}
.colorTag {
  background-color: rgb(36, 36, 36);
  width: 20%;
  height: 80px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.textTag {
  color: white;
  font-size: 1.2rem;
}
